@font-face {
  font-family: 'Bellota Text';
  font-style: italic;
  font-weight: 300;
  src: local('Bellota Text Light Italic'), local('BellotaText-LightItalic'), url(https://fonts.gstatic.com/s/bellotatext/v2/0FlOVP2VnlWS4f3-UE9hHXMx--Gmfz_zayo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Bellota Text';
  font-style: italic;
  font-weight: 700;
  src: local('Bellota Text Bold Italic'), local('BellotaText-BoldItalic'), url(https://fonts.gstatic.com/s/bellotatext/v2/0FlOVP2VnlWS4f3-UE9hHXMx--G2eD_zayo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-weight: 300;
  src: local('Bellota Text Light'), local('BellotaText-Light'), url(https://fonts.gstatic.com/s/bellotatext/v2/0FlMVP2VnlWS4f3-UE9hHXM5Vfsaeg_x.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Bellota Text';
  font-style: normal;
  font-weight: 700;
  src: local('Bellota Text Bold'), local('BellotaText-Bold'), url(https://fonts.gstatic.com/s/bellotatext/v2/0FlMVP2VnlWS4f3-UE9hHXM5Rfwaeg_x.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i03Sup8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.gstatic.com/s/reeniebeanie/v10/z7NSdR76eDkaJKZJFkkjuvWxXPq1qw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
	font-family: "Bellota Text", sans-serif;
	font-weight: 300;
}

nav {
	background-color: darkturquoise;
	color: white;
	overflow: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.signin {
	float: right;
}

nav li, nav ul {
	display:inline;
	float: left;
}

nav li {
	padding-right: 40px;
}

.img1 {
	float: left;
}
.img2 {
	float: right;
}

header {
	margin: auto;
	width: 50%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: darkturquoise;
	text-align: center;
	font-family: "Dancing Script";
	font-size: 600%;
}

header h2 {
	margin-top: 0;
	text-align: center;
	font-family: 'Reenie Beanie';
}

main {
	margin:auto;
	width: 50%;
}

.splash {
	margin: auto;
	border: medium solid darkturquoise;
	border-radius: 8px;
}

dl {
overflow: auto;
}

dt {
	font-size: 300%;
	width: 140px;
	float: left;
	clear: left;
	height: 65px;
}

dd {
	margin-left: 140px;
	padding-top: 30px;
	height: 35px;
}

.content{
	background-color: darkturquoise;
	padding: 3px 3px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 150%;
}

#order a{
	text-align: center;
	color: white;
	font-weight: normal;
	padding: 8px;
	border: 1px solid white;
}

#order a:hover {
	font-weight: bold;
	border: 3px solid white;
}

.content h3{
	text-align: center;
	color: white;
	font-family: "Dancing Script";
	font-size: 300%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.content p{
	padding: 0 30px;
	padding-bottom: 30px;
}

.content ul{
	text-align: left;
	list-style-position: inside;
	padding: 0px 15px 40px 35px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.content li {
	padding-bottom: 20px;
}

footer{
	background-color: darkturquoise;
	color: white;
	padding: 5px 0;
}
footer p {
	padding-left: 30px;
}
